*{
    font-family: sans-serif;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo{
   font-size: 24px;
   color: #F9FAF8;
}

.links{
    display: flex;
    gap: 16px;
}

.hero{
    background-color: #1F2947;
    padding: 0vw 18vw 5vw;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
 
.media{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.media-image{
  width: 400px;
  height: auto;
}

.media-text{
  flex: 1;
  max-width: 450px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  height: 24px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid royalblue;
  background-color: #3882f6;
  color: #F9FAF8;
  cursor: pointer;
}

.info{
  padding: 0vw 18vw 5vw;
}

.info-header{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 50px 0px;
}

.images{
  display: flex;
  gap: 60px;
  justify-content: center;
}

.image img{
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 5px solid #1F2947;
}

.image p{
  max-width: 200px;
  text-align: center;
}

.quote{
  background-color: #E5E7EB;
  padding: 10vw 18vw 10vw;
}

.quote-text{
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  max-width: 800px;
  margin: auto;
}

.quote-speaker{
  margin-top: 20px;
  font-weight: 700;
  text-align: right;
}


