*{
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo{
   font-size: 24px;
   color: #F9FAF8;
}

.links{
    display: flex;
    gap: 16px;
}

.hero{
    background-color: #1F2947;
    padding: 0px 250px 100px;
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
 
.media {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.media-image {
  width: 400px;
  height: auto;
}

.media-text {
  flex: 1;
  padding: 16px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  height: 24px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid royalblue;
  background-color: #3882f6;
  color: #F9FAF8;
  cursor: pointer;
}

